.actions.mobile {
  font-size: 1.2rem;
  background-color: var(--color-bg);
  color: var(--color-text-secondary);
  text-transform: capitalize;
  display: none;
  padding: 1.2rem 2rem 1.2rem 2rem;
  span:hover {
    color: var(--color-text-hover);
    cursor: pointer;
  }
  @media (max-width: 500px) {
    display: flex;
    gap: 1.5rem;
    place-content: center;
  }
}
